@use "../abstracts/" as *;
.footer {
  padding: 0 pxToRem(120);
  margin-top: 120px;
  @include responsive("nm") {
    padding: 0 pxToRem(40);
    margin-top: pxToRem(50);
  }
  &__top {
    @include responsive("md") {
      flex-direction: column;
      gap: 20px;
    }
    @include responsive("nm") {
      flex-direction: column;
      gap: 20px;
    }
    @include flex($display: flex, $direction: row);
    flex-wrap: wrap;
    justify-content: space-between;
    &--link1 {
      display: flex;
      gap: pxToRem(48);
      @include responsive("sm") {
        flex-direction: column;
        gap: 24px;
        font-size: pxToRem(16);
        width: 100%;
      }
    }
    &--link2 {
      display: flex;
      gap: pxToRem(48);
      @include responsive("sm") {
        gap: 24px;
        font-size: pxToRem(16);
        width: 100%;
        flex-wrap: wrap;
      }
    }
    li {
      list-style-type: none;
      text-transform: capitalize;
    }
    a {
      @include font($primary-font, 18, 600);
      text-decoration: none;
      color: #020305;
    }
    @include responsive("xl") {
      flex-direction: column;
      gap: 24px;
      margin-bottom: 24px;
    }
  }
  @include responsive("xl") {
    padding: 0 pxToRem(40);
    margin-top: pxToRem(84);
  }
  @include responsive("ll") {
    padding: pxToRem(10) pxToRem(10);
    margin-top: pxToRem(20);
  }
  @include responsive("sm") {
    padding-inline: 24px;
  }
  &__bottom {
    text-align: center;
    @include font($primary-font, 18, 600);
    color: #5c5050;
    margin-block: pxToRem(80);
    @include responsive("xl") {
      margin-bottom: 48px;
      margin-top: 24px;
      text-align: left;
    }
  }
}
