header{
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
  @include font($primary-font, 18px, bold);
  
  nav{

    display: flex;
    align-items: center;

      ul {
        display: flex;
        flex-direction: row;
        
        
        li {
          list-style-type: none;
          margin: 0 20px;
          text-transform: capitalize;
        } 
           
        a {
          padding: 10px 15px;
          text-decoration: none;  
          &:hover {
            @include color($color3, $color1);
            border-radius: 10px;
          }
        }
      }
  }
}