@use "../abstracts/" as *;
.banner {
  position: relative;
  padding: 0 pxToRem(120);
  @include responsive("nm") {
    padding: 0 pxToRem(40);
  }
  @include responsive("xl") {
    padding: 0 pxToRem(40);
  }
  @include responsive("ll") {
    padding: pxToRem(10) pxToRem(10);
  }
  @include responsive("l") {
    padding: 0;
  }
  @include responsive("sm") {
    padding: 0;
  }
  img {
    display: block;
    max-width: 100%;
  }
  &__text {
    position: absolute;
    top: pxToRem(60);
    left: pxToRem(188);
    z-index: 1;
    color: $color1;
    @include font($primary-font, 64px, 900);
    width: pxToRem(411);
    @include responsive("md") {
      font-size: pxToRem(40);
    }
    @include responsive("nm") {
      font-size: pxToRem(40);
      left: pxToRem(70);
    }
    @include responsive("xl") {
      font-size: pxToRem(40);
      top: pxToRem(70);
      left: pxToRem(70);
      z-index: 1;
    }
    @include responsive("ll") {
      font-size: pxToRem(32);
      width: 30%;
    }
    @include responsive("l") {
      top: 32px;
      left: 24px;
      font-size: pxToRem(32);
      width: pxToRem(300);
    }
    @include responsive("sm") {
      top: 32px;
      left: 24px;
      font-size: pxToRem(32);
      width: pxToRem(300);
    }
    @include responsive("m") {
      font-size: pxToRem(30);
    }
  }
  .background {
    margin: 0 auto;
    @include responsive("xl") {
      width: pxToRem(947);
      height: pxToRem(381);
      object-fit: cover;
      border-radius: 24px;
    }
    @include responsive("ll") {
      background-image: url(./../assets/images/banner2.png);
      border-radius: 20px;
      object-fit: cover;
    }
    @include responsive("l") {
      object-fit: cover;
      border-radius: 10px;
      object-position: 30%;
    }
    @include responsive("sl") {
      object-fit: cover;
      border-radius: 0;
      object-position: 30%;
    }
    @include responsive("sm") {
      object-fit: cover;
    }
    @include responsive("m") {
      object-position: 20%;
    }
  }
  .astronaut {
    position: absolute;
    top: 0;
    right: pxToRem(167);
    z-index: 2;
    @include responsive("lg") {
      right: 20px;
    }
    @include responsive("nm") {
      right: 0;
      width: 60%;
    }
    @include responsive("md") {
      right: pxToRem(50);
      width: 50%;
    }
    @include responsive("xl") {
      top: pxToRem(34);
      width: pxToRem(530);
      position: absolute;
      right: pxToRem(37);
    }
    @include responsive("ll") {
      width: pxToRem(450);
      transform: translate(50px, 20%);
    }
    @include responsive("l") {
      width: 80%;
    }
    @include responsive("sl") {
      width: 100%;
      transform: translate(100px, 10%);
    }
    @include responsive("m") {
      transform: translate(70px, 25%);
    }
  }
  &__spacewalk {
    position: absolute;
    left: 50%;
    transform: translate(-30px, -50%);
    background-color: $color1;
    padding: 25px 20px;
    border-radius: 15px;
    z-index: 3;
    @include responsive("lg") {
      transform: none;
    }
    @include responsive("md") {
      transform: translate(-55px, -10%);
      left: 55%;
      padding: 20px 15px;
    }
    @include responsive("nm") {
      transform: translate(-100px, -10%);
    }
    @include responsive("xl") {
      transform: translate(-30px, -20%);
    }
    @include responsive("ll") {
      transform: translate(-50px, 0%);
    }
    @include responsive("l") {
      transform: translate(-200px, 50%);
    }
    @include responsive("sl") {
      transform: translate(-190px, -10%);
    }
    @include responsive("sm") {
      transform: translate(-220px, -30%);
    }
    @include responsive("m") {
      transform: translate(-220px, -50%);
    }
    @include responsive("mm") {
      display: none;
    }

    &--body {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-top: 15px;
      figure {
        width: pxToRem(178);
        @include responsive("xl") {
          width: pxToRem(95);
        }
        & > img {
          @include responsive("nm") {
            max-width: none;
            width: pxToRem(150);
          }
          @include responsive("xl") {
            width: pxToRem(100);
          }
        }
      }
      @include responsive("nm") {
        width: 60%;
      }
      & > img {
        width: pxToRem(70);
        @include responsive("xl") {
          width: pxToRem(47);
        }
      }
      @include responsive("xl") {
        max-width: 100%;
        gap: 8px;
      }
    }
  }

  &__exercising {
    @include responsive("lg") {
      transform: translate(50px, -50%);
      padding: 20px 15px;
    }
    @include responsive("md") {
      transform: translate(10px, -70%);
      padding: 20px 15px;
    }
    @include responsive("nm") {
      transform: translate(80px, -50%);
    }
    @include responsive("xl") {
      transform: translate(85px, -40%);
    }
    @include responsive("ll") {
      transform: translate(70px, -20%);
    }
    @include responsive("l") {
      transform: translate(20px, 50%);
    }
    @include responsive("sl") {
      transform: translate(50px, -50%);
    }
    @include responsive("sm") {
      transform: translate(30px, -80%);
    }
    @include responsive("m") {
      transform: translate(50px, -60%);
    }
    @include responsive("mm") {
      display: none;
    }
    position: absolute;
    top: pxToRem(328);
    right: 11.5%;
    background-color: $color1;
    padding: 25px 20px;
    border-radius: 15px;
    z-index: 3;
    &--body {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-top: 15px;
      figure {
        @include responsive("xl") {
          width: pxToRem(151);
        }
        @include responsive("l") {
          width: pxToRem(125);
        }
        @include responsive("sm") {
          width: pxToRem(125);
        }
      }
    }
  }
  .top {
    display: flex;
    align-items: center;
    gap: 20px;
    .icon {
      img {
        padding: 10px;
        background-color: $color2;
        border-radius: 10px;
        @include responsive("xl") {
          width: pxToRem(32);
        }
      }
    }
    .title {
      @include font($primary-font, 18px, 500);
      @include responsive("xl") {
        font-size: pxToRem(14);
      }
      @include responsive("m") {
        font-size: pxToRem(12);
      }
    }
  }
}
