@use "../abstracts/" as *;
.block {
  padding: pxToRem(40) pxToRem(120);
  @include responsive("nm") {
    padding: pxToRem(10) pxToRem(40);
  }
  @include responsive("xl") {
    padding: 0 pxToRem(40);
  }
  @include responsive("ll") {
    padding: pxToRem(10) pxToRem(10);
  }
  @include responsive("l") {
    position: relative;
  }
  @include responsive("sm") {
    position: relative;
  }
  &--allbutton {
    position: relative;
    @include responsive("l") {
      position: static;
    }
    @include responsive("sm") {
      position: static;
    }
    @include flex($display: flex, $direction: row);
    .top {
      @include flex($display: flex, $direction: row);
      align-items: center;
      gap: 20px;
      @include responsive("l") {
        font-size: pxToRem(14);
      }
      @include responsive("sm") {
        font-size: pxToRem(14);
      }
      .icon {
        img {
          padding: 10px;
          background-color: $color2;
          border-radius: 10px;
        }
        @include responsive("l") {
          width: pxToRem(32);
        }
        @include responsive("sm") {
          width: pxToRem(32);
        }
      }
      .title {
        color: $color1;
        font-family: $primary-font;
      }
    }
    .bottom {
      p {
        color: white;
        @include font($primary-font, 24, 900);
        text-align: right;
        letter-spacing: 10px;
        margin-top: 10px;
        margin-left: 50px;
        @include responsive("md") {
          font-size: pxToRem(20);
        }
        @include responsive("nm") {
          font-size: pxToRem(16);
        }
        @include responsive("xl") {
          font-size: pxToRem(20);
          letter-spacing: 8px;
          margin-left: 20px;
        }
        @include responsive("ll") {
          letter-spacing: 3px;
        }
        @include responsive("l") {
          font-size: pxToRem(16);
        }
        @include responsive("sm") {
          font-size: pxToRem(16);
        }
        @include responsive("sm") {
          font-size: pxToRem(14);
          letter-spacing: 4px;
        }
      }
    }
    @include responsive("l") {
      @include flex($direction: column);
      align-items: start;
      gap: 32px;
    }
    @include responsive("sm") {
      @include flex($direction: column);
      align-items: start;
      gap: 32px;
    }
  }

  &__content {
    @include responsive("xl") {
      margin-top: 24px;
    }
    p {
      @include font($primary-font, 20px, 450);
      width: pxToRem(700);
      color: #171e27;
      @include responsive("lg") {
        width: 45%;
      }
      @include responsive("md") {
        font-size: pxToRem(18);
        width: 50%;
      }
      @include responsive("nm") {
        font-size: pxToRem(16);
        width: 35%;
      }
      @include responsive("xl") {
        width: pxToRem(395);
        font-size: pxToRem(16);
      }
      @include responsive("ll") {
        width: 45%;
      }
      @include responsive("l") {
        margin-top: pxToRem(420);
        width: 90%;
      }
      @include responsive("sm") {
        margin-top: pxToRem(332);
        width: 100%;
      }
    }
    margin-bottom: 40px;
  }
  &__button {
    padding: 26px 54px;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-right: 20px;
    transition: 0.25s;
    box-shadow:
      rgba(0, 0, 0, 0.25) 0px 30px 44px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px,
      rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: $color3;
    cursor: pointer;
    &--link {
      @include font($primary-font, 24, 500);
      @include responsive("xl") {
        font-size: pxToRem(20);
      }
    }
    a {
      color: $color1;
      list-style-type: none;
      text-decoration: none;
      @include font($primary-font, 24, 500);
      @include responsive("xl") {
        font-size: pxToRem(20);
      }
    }
  }
  &--flex {
    display: flex;
    align-items: center;
    gap: 10px;
    figure img {
      padding: 2px;
      background-color: $color2;
      border-radius: 4px;
    }
  }
  &--time {
    display: block;
    position: absolute;
    background-color: $color3;
    padding: pxToRem(10) pxToRem(30);
    border-radius: 15px;
    right: pxToRem(192);
    top: 30%;
    transform: translate(-10px, -50%);
    z-index: 2;
    @include responsive("lg") {
      right: 50px;
      transform: translateY(20%);
    }
    @include responsive("md") {
      padding: pxToRem(10) pxToRem(15);
    }
    @include responsive("nm") {
      transform: translate(-50px, -10%);
      right: 20px;
    }
    @include responsive("xl") {
      transform: translate(-30px, -60%);
    }
    @include responsive("ll") {
      transform: translate(-30px, -100%);
    }
    @include responsive("l") {
      transform: translate(-150px, 20%);
    }
    @include responsive("sl") {
      transform: translate(-80px, -30%);
    }
    @include responsive("sm") {
      transform: translate(-80px, -50%);
    }
    @include responsive("m") {
      transform: translate(-30px, -115%);
    }
    @media screen and (max-width: 350px) {
      transform: translate(10px, -190%);
    }
    @media screen and (max-width: 326px) {
      transform: translate(10px, -250%);
    }
  }
}
