.block {
  padding: pxToRem(40) pxToRem(120);
  @include responsive("xl") {
    padding: 0 pxToRem(40);
  }
  @include responsive("sm") {
    position: relative;
  }
  &--allbutton {
    position: relative;
    @include responsive("sm") {
      position: static;
    }
    @include flex($display: flex, $direction: row);
    .top {
      @include flex($display: flex, $direction: row);
      align-items: center;
      gap: 20px;
      @include responsive("sm") {
        font-size: 14px;
      }
      .icon {
        img {
          padding: 10px;
          background-color: $color2;
          border-radius: 10px;
        }
        @include responsive("sm") {
          width: 32px;
        }
      }
      .title {
        color: $color1;
        font-family: $primary-font;
      }
    }
    .bottom {
      p {
        color: white;
        @include font($primary-font, 24, 900);
        text-align: right;
        letter-spacing: 10px;
        margin-top: 10px;
        margin-left: 50px;
        @include responsive("xl") {
          font-size: 20px;
          letter-spacing: 8px;
          margin-left: 20px;
        }
        @include responsive("sm") {
          font-size: 16px;
        }
      }
    }
    @include responsive("sm") {
      @include flex($direction: column);
      align-items: start;
      gap: 32px;
    }
  }

  &__content {
    @include responsive("xl") {
      margin-top: 24px;
    }
    p {
      @include font($primary-font, 20px, 450);
      width: pxToRem(700);
      color: #171e27;
      @include responsive("xl") {
        width: pxToRem(395);
        font-size: 16px;
      }
      @include responsive("sm") {
        margin-top: pxToRem(332);
        width: 100%;
      }
    }
    margin-bottom: 40px;
  }
  &__button {
    padding: 26px 54px;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-right: 20px;
    transition: 0.25s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    @include responsive("xl") {
      padding: 20px 40px;
    }
    cursor: pointer;
    &:hover {
      border-radius: 20px;
      background-color: $color3;
      & a {
        color: $color1;
      }
    }
    a {
      color: $color3;
      list-style-type: none;
      text-decoration: none;
      @include font($primary-font, 24, 500);
      @include responsive("xl") {
        font-size: 20px;
      }
      @include responsive("sm") {
      }
    }
  }
  &--flex {
    display: flex;
    align-items: center;
    figure img {
      padding: 2px;
      background-color: $color2;
      border-radius: 4px;
    }
  }
  &--time {
    display: block;
    position: absolute;
    background-color: $color3;
    padding: 10px 30px;
    border-radius: 15px;
    right: pxToRem(192);
    top: 30%;
    transform: translate(-10px, -50%);
    z-index: 2;
    @include responsive("xl") {
      right: pxToRem(98);
      top: -100%;
    }
    @include responsive("sm") {
      padding: 12px;
      top: pxToRem(-190);
      transform: translate(0, 0);
      right: pxToRem(28);
    }
  }
}
