@use "../abstracts/" as *;
.exploration {
  position: relative;
  padding: 0 pxToRem(120);
  margin-top: pxToRem(60);
  @include responsive("nm") {
    padding: 0 pxToRem(40);
  }
  @include responsive("xl") {
    padding: 0 pxToRem(40);
    margin-top: pxToRem(80);
  }
  @include responsive("l") {
    padding: 0;
  }
  @include responsive("sm") {
    padding: 0;
  }
  img {
    max-width: 100%;
    @include responsive("l") {
      height: pxToRem(393);
      object-fit: cover;
      object-position: 20%;
    }
    @include responsive("sm") {
      height: pxToRem(393);
      object-fit: cover;
      object-position: 20%;
    }
  }
  &__card {
    z-index: 2;
    left: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: pxToRem(52);
    padding-inline: pxToRem(160);
    transform: translateY(-12rem);
    position: absolute;
    padding: 0 pxToRem(160);
    @include responsive("lg") {
      transform: translateY(-40%);
    }
    @include responsive("md") {
      transform: translateY(-15%);
    }
    @include responsive("nm") {
      padding-inline: pxToRem(70);
      transform: translateY(-25%);
    }
    @include responsive("xl") {
      gap: pxToRem(32);
      transform: translateY(-30%);
      padding: 0 80px;
    }
    @include responsive("l") {
      grid-template-columns: auto;
      transform: translateY(-80px);
      padding: 0 24px;
    }
    @include responsive("sm") {
      grid-template-columns: auto;
      transform: translateY(-80px);
      padding: 0 24px;
    }
    &--case {
      background: $color1;
      box-shadow: 0px 20px 40px -10px rgba(100, 118, 125, 0.5);
      border-radius: 24px;
      @include responsive("lg") {
        padding: 0;
      }
      @include responsive("nm") {
        border-radius: 12px;
      }
    }
    &--color {
      @include font($primary-font, 64, 800);
      padding: pxToRem(50) pxToRem(50);
      text-align: left;
      color: $color2;
      @include responsive("lg") {
        padding: 15px;
      }
      @include responsive("md") {
        padding: 12px;
      }
      @include responsive("nm") {
        font-size: 40px;
        padding: 15px;
      }
      @include responsive("xl") {
        font-size: pxToRem(32);
        padding: 24px;
      }
    }
    &--bold {
      @include font($primary-font, 24, 800);
      padding: 0 pxToRem(50);
      text-align: left;
      color: #020305;
      @include responsive("lg") {
        padding-left: 15px;
      }
      @include responsive("md") {
        padding-left: 12px;
      }
      @include responsive("nm") {
        font-size: pxToRem(18);
        padding: 15px;
      }
      @include responsive("xl") {
        font-size: pxToRem(18);
        padding-left: pxToRem(24);
      }
    }
    &--normal {
      padding: pxToRem(50);
      @include font($primary-font, 18, 500);
      text-align: left;
      color: #171e27;
      @include responsive("lg") {
        padding: pxToRem(15);
      }
      @include responsive("md") {
        padding: pxToRem(12);
      }
      @include responsive("nm") {
        font-size: pxToRem(14);
        padding: 15px;
      }
      @include responsive("xl") {
        font-size: pxToRem(14);
        padding: 24px;
      }
    }
  }
  &__text {
    position: absolute;
    top: pxToRem(40);
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    color: $color1;
    @include font($primary-font, 60px, 800);
    width: pxToRem(1220);
    text-align: center;
    @include responsive("lg") {
      font-size: pxToRem(50);
    }
    @include responsive("md") {
      font-size: pxToRem(45);
      width: 67%;
    }
    @include responsive("nm") {
      font-size: pxToRem(40);
      width: 80%;
    }
    @include responsive("xl") {
      font-size: pxToRem(40);
      width: pxToRem(764);
    }
    @include responsive("l") {
      font-size: pxToRem(32);
      width: 80%;
      text-align: left;
      top: 24px;
    }
    @include responsive("sm") {
      font-size: pxToRem(32);
      width: pxToRem(327);
      text-align: left;
      top: 24px;
    }
  }
}
