.exploration {
  position: relative;
  padding: pxToRem(40) pxToRem(120);
  img {
    display: block;
    max-width: 100%;
  }
  &__text {
    position: absolute;
    bottom: 60%;
    z-index: 1;
    left: pxToRem(350);
    transform: translateY(50%);
    color: $color1;
    @include font($primary-font, 64px, 900);
    width: pxToRem(1220);
    text-align: center;
  }
}
