<div class="banner">
  <figure>
    <img src="./assets/images/banner.png" alt="" class="background">
  </figure>
  <p class="banner__text">Unveiling the Wonders of the Universe</p>
  <figure>
    <img src="./assets/images/astronaut.png" alt="" class="astronaut">
  </figure>
  <div class="banner__spacewalk">
    <div class="top">
      <span class="icon">
        <img src="./assets/icons/combo shape.svg" alt="">
      </span>
      <span class="title">Spacewalks</span>
    </div>
    <div class="banner__spacewalk--body">
      <figure>
        <img src="./assets/images/OBJECTS.png" alt="">
      </figure>
      <img src="./assets/icons/OBJECTS.svg" alt="">
    </div>
  </div>

  <div class="banner__exercising">
    <div class="top">
      <span class="icon">
        <img src="./assets/icons/Vector.svg" alt="">
      </span>
      <span class="title">Exercising</span>
    </div>
    <div class="banner__exercising--body">
      <figure>
        <img src="./assets/images/OBJECTS.png" alt="">
      </figure>
    </div>
  </div>
</div>