<div class="banner">
  <figure class="banner__bgc">
    <img src="./assets/images/banner.png" alt="planet" class="background" />
  </figure>
  <p class="banner__text">Unveiling the Wonders of the Universe</p>
  <figure>
    <img
      src="./assets/images/astronaut.png"
      alt="astronaut"
      class="astronaut"
    />
  </figure>
  <div class="banner__spacewalk">
    <div class="top">
      <span class="icon">
        <img src="./assets/icons/comboshape.svg" alt="halfchart" />
      </span>
      <span class="title">Spacewalks</span>
    </div>
    <div class="banner__spacewalk--body">
      <figure>
        <img src="./assets/images/objects.png" alt="linechart" />
      </figure>
      <img src="./assets/icons/objects.svg" alt="circlechart" />
    </div>
  </div>

  <div class="banner__exercising">
    <div class="top">
      <span class="icon">
        <img src="./assets/icons/vector.svg" alt="heart" />
      </span>
      <span class="title">Exercising</span>
    </div>
    <div class="banner__exercising--body">
      <figure>
        <img src="./assets/images/objects2.png" alt="foldedmap" />
      </figure>
    </div>
  </div>
</div>
