<div class="block">
  <div class="block__content">
    <p>At odissey, our mission is to inspire, educate, and ignite your passion for the cosmos. We are your premier destination for all things related to space exploration, astronomy, and the mysteries of the universe. Whether you're a seasoned astronomer or a curious novice, join us on a journey to the furthest reaches of the cosmos. </p>
  </div>
  <div class="block--allbutton">
    <button class="block__button">
      <a href="">Get Started</a>
    </button>
    <div class="block--flex">
      <button class="block__button">
          <a href="">Watch the Video</a>
      </button>
      <figure>
        <img src="./assets/icons/Play.svg" alt="">
      </figure>
    </div>
    <button class="block__button">
      <a href=""></a>
    </button>
  </div>
</div>