<div class="block">
  <div class="block__content">
    <p>
      At odissey, our mission is to inspire, educate, and ignite your passion
      for the cosmos. We are your premier destination for all things related to
      space exploration, astronomy, and the mysteries of the universe. Whether
      you're a seasoned astronomer or a curious novice, join us on a journey to
      the furthest reaches of the cosmos.
    </p>
  </div>
  <div class="block--allbutton">
    <button class="block__button">
      <a href="">Get Started</a>
    </button>
    <div class="block--flex">
      <a class="block__button--link">Watch Video</a>
      <figure>
        <img src="./assets/icons/play.svg" alt="" />
      </figure>
    </div>
    <div class="block--time">
      <div class="top">
        <span class="icon">
          <img src="./assets/icons/comboshape.svg" alt="" />
        </span>
        <span class="title">Total time in space </span>
      </div>
      <div class="bottom">
        <p>35 D 5H 49M 20S</p>
      </div>
    </div>
  </div>
</div>
