<div class="contact">
  <figure>
    <img src="./assets/images/GreenPlanet.png" alt="" />
  </figure>
  <div class="contact__form">
    <p class="contact__form--bold">Join our community</p>
    <p class="contact__form--normal">
      of stargazers, explorers, and cosmic enthusiasts as we embark on a journey
      through the cosmos like never before.
    </p>
    <div class="contact__form--email">
      <input
        type="text"
        id="email"
        name="email"
        placeholder="Enter your email"
      />
      <button onclick="validateEmail()">Subsribe</button>
    </div>
  </div>
</div>

<script>
  function validateEmail() {
    var emailInput = document.getElementById("email").value;
    var emailRegex = /^[\w\-]+(\.[\w\-]+)*@([\w\-]+\.)+[a-zA-Z]{2,}$/;

    if (emailRegex.test(emailInput)) {
      alert("Email valid!!!");
    } else {
      alert("Email invalid!!!");
    }
  }
</script>
