<div class="contact">
  <figure>
    <img src="./assets/images/greenPlanet.png" alt="" />
  </figure>
  <div class="contact__form">
    <p class="contact__form--bold">Join our community</p>
    <p class="contact__form--normal">
      of stargazers, explorers, and cosmic enthusiasts as we embark on a journey
      through the cosmos like never before.
    </p>
    <div class="contact__form--email">
      <input
        type="text"
        id="email"
        name="email"
        placeholder="Enter your email"
      />
      <button>Subsribe</button>
    </div>
  </div>
</div>
