<div class="activity">
  <figure>
    <img src="./assets/images/brand.png" alt="" />
  </figure>
  <div class="activity--all">
    <div>
      <p class="activity__paragraph">
        Join our vibrant community of space enthusiasts where you can
      </p>
    </div>

    <div class="activity__grid">
      <div class="activity__detail">
        <include
          src="./components/activity-list.html"
          locals='{
            "img": "./assets/icons/physics.svg",
            "bold": "Astronomy 101",
            "normal": "Dive into the basics of astronomy. Learn about stars, planets, galaxies, and the tools astronomers use to explore the universe."
            }'
        />
      </div>

      <div class="activity__detail">
        <include
          src="./components/activity-list.html"
          locals='{
            "img": "./assets/icons/clipboard.svg",
            "bold": "Latest Discoveries",
            "normal": "Stay up-to-date with the most recent breakthroughs and discoveries in the field of astrophysics and space exploration."
            }'
        />
      </div>

      <div class="activity__detail">
        <include
          src="./components/activity-list.html"
          locals='{
            "img": "./assets/icons/tescope.svg",
            "bold": "Space Exploration",
            "normal": "Explore the latest missions, both past and present, from NASA, ESA, SpaceX, and other space agencies and organizations."
            }'
        />
      </div>

      <div class="activity__detail">
        <include
          src="./components/activity-list.html"
          locals='{
            "img": "./assets/icons/space.svg",
            "bold": "Space Technology",
            "normal": "Delve into the cutting-edge technology powering space exploration, from spacecraft and telescopes to propulsion systems and space habitats."
            }'
        />
      </div>
    </div>
  </div>
</div>
