<div class="exploration">
  <figure>
    <img src="./assets/images/oranglePlant.png" alt="oranglePlant" />
  </figure>
  <p class="exploration__text">
    We are committed to making space science accessible to all. Explore our
    educational resources, including
  </p>
  <div class="exploration__card">
    <div class="exploration__card--case">
      <include
        src="./components/case-exploration.html"
        locals='{
            "color": "01.",
            "bold": "Online the free courses and tutorials",
            "normal": "Dive into the basics of astronomy. Learn about stars, planets, galaxies, and the tools astronomers use to explore the universe."
            }'
      />
    </div>
    <div class="exploration__card--case">
      <include
        src="./components/case-exploration.html"
        locals='{
            "color": "02.",
            "bold": "Resources for teachers and educators",
            "normal": "Delve into the cutting-edge technology powering space exploration, from spacecraft and telescopes to propulsion systems and space habitats."
            }'
      />
    </div>
    <div class="exploration__card--case">
      <include
        src="./components/case-exploration.html"
        locals='{
            "color": "03.",
            "bold": "Book recommendations and reviews",
            "normal": "Dive into the basics of astronomy. Learn about stars, planets, galaxies, and the tools astronomers use to explore the universe."
            }'
      />
    </div>
  </div>
</div>
