h1 {
  font-size: 18px;
  font-weight: 500;
}
h2 {
  font-size: 16px;
  font-weight: 500;
}
h3 {
  font-size: 15px;
  font-weight: 400;
}
p {
  font-size: 14px;
  font-weight: 300;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url("../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf")
    format("truetype");
}
