@mixin size($x: null, $y: null) {
  width: $x;
  height: $y;
}

//Color
@mixin color($a, $y) {
  background: $a;
  color: $y;
}

@mixin font($font-family, $font-size, $font-weight: normal) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
}
//full center
@mixin center-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Flex
@mixin flex($display: flex, $direction: false, $align: false, $justify: false) {
  display: $display;
  @if $direction {
    flex-direction: $direction;
  }
  @if $justify {
    justify-content: $justify;
  }
  @if $align {
    align-items: $align;
  }
}

//Resp
@mixin large {
  @media screen and (max-width: 1659px) {
    @content;
  }
}

@mixin medium {
  @media screen and (max-width: 1480px) {
    @content;
  }
}

@mixin normal {
  @media screen and (max-width: 1239px) {
    @content;
  }
}

@mixin xl {
  @media screen and (max-width: map-get($break_point, "xl")) {
    @content;
  }
}

@mixin l {
  @media screen and (max-width: 957px) {
    @content;
  }
}
@mixin sm {
  @media screen and (max-width: map-get($break_point, "sm")) {
    @content;
  }
}

@mixin resp($break_point) {
  @media screen and (max-width: $break_point) {
    @content;
  }
}

@mixin responsive($break_point) {
  @if $break_point == lg {
    @include large {
      @content;
    }
  } @else if $break_point == md {
    @include medium {
      @content;
    }
  } @else if $break_point == nm {
    @include normal {
      @content;
    }
  } @else if $break_point == sm {
    @include sm {
      @content;
    }
  } @else if $break_point == xl {
    @include xl {
      @content;
    }
  } @else if $break_point == l {
    @include l {
      @content;
    }
  } @else {
    @include resp() {
      @content;
    }
  }
}
