
// Color
$color1: #FFFFFF;
$color2: #A9C2CB;
$color3: #0D0F12;

//Font family
$primary-font: 'PlusJakartaSans', sans-serif;

$nav-links: (
  "stay connected",
  "education",
  "community",
  "about us",
  "sign in"
);


