<footer class="footer">
  <div class="footer__top">
    <figure>
      <img src="./assets/icons/Odyssey2.svg" alt="" />
    </figure>
    <nav>
      <ul class="footer__top--link1">
        <include
          src="./components/footer-link.html"
          locals='{
          "list": "[`stay connected`, `education`, `community`, `about us`]"
        }'
        >
        </include>
      </ul>
      <ul class="footer__top--link2">
        <li><a href="">Privacy policy</a></li>
        <li><a href="">Terms & Agreements</a></li>
      </ul>
    </nav>
  </div>
  <div class="footer__bottom">[contact@odyssey.com].</div>
</footer>
